.Row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.Row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.EmptyDiv {
  height: 200px;
}
